/* All document */
body {
    font-family: "Verdana", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Placeholders */
::-webkit-input-placeholder {
    font-style: italic;
    font-size: 11px;
}
::-moz-placeholder {  /* Firefox 19+ */
    font-style: italic;
    font-size: 11px;
}
:-ms-input-placeholder {
    font-style: italic;
    font-size: 11px;
}
/* form */

label {
    font-weight: bold;
    line-height: 25px;
}

.register-body {
    width: 75%;
    margin: auto;
}

.register-form, .success {
    padding: 15px;
    background-color: #EFEFEF;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 2px rgba(195,195,195,1);
    -moz-box-shadow: 0px 1px 1px 2px rgba(195,195,195,1);
    box-shadow: 0px 1px 1px 2px rgba(195,195,195,1);
}

.col-left {
    width: 35%;
    text-align: right;
    padding-right: 25px;
    float: left;
}

.password .col-left label {
    display: block;
    padding: 6px 0;
}

.title1 {
    font-size: 17px;
    margin: 15px 0;
}

.title2 {
    font-size: 12px;
    margin: 6px 0;
}

.field {
    display: flex;
    width: 85%;
    padding: 6px;
}

.field.password {
    margin: 15px 0px;
}

.field.password .col-right {
    width: 65%;
}

.field.password .col-right .password-security {
    position: absolute;
    width: 70%;
    left: 57%;
    margin-top: 20px;
}

.password-security p {
    font-size: 11px;
    color: #555;
    margin: 3px 0;
}

.password-security span {
    font-size: 11px;
    margin: 0;
    float: left;
    color: #555;
}

.field.password .col-right div {
    width: 48%;
    float: left;
}

.field.password .col-right div div {
    width: 100%;
    padding: 6px 0;
}

.same-line {
    display: flex;
    width: 100%;
}

.col-right {
    width: 65%;
}

.col-right.col-half input:first-of-type {
    width: 45%;
    float: left;
}

.col-right.col-half input:nth-of-type(2) {
    position: relative;
    width: 45%;
    float: left;
    left: 2.5%;
}

.col-right.col-part input:first-of-type {
    width: 27%;
    float: left;
}

.col-right.col-part input:nth-of-type(2) {
    position: relative;
    width: 63%;
    float: left;
    left: 2.5%;
}

.col-right input {
    width: 97%;
    border: solid #bbb 1px;
    border-radius: 3px;
    padding: 2px 2%;
    height: 19px;
}

.col-right select.half  {
    height: 25px;
    width: 49.5%;
}

.col-right .half {
    width: 45%;
}

/* submit button */
.col-right .submit-button {
    width: 30%;
    margin-top: 20px;
    color: white;
    font-weight: bold;
    height: 25px;
    border-color: #0969AC;
    background-image: linear-gradient(bottom, #0969AC 50%, #3695BB 50%);
    background-image: -o-linear-gradient(bottom, #0969AC 50%, #3695BB 50%);
    background-image: -moz-linear-gradient(bottom, #0969AC 50%, #3695BB 50%);
    background-image: -webkit-linear-gradient(bottom, #0969AC 50%, #3695BB 50%);
    background-image: -ms-linear-gradient(bottom, #0969AC 50%, #3695BB 50%);
}

.col-right .submit-button:hover {
    opacity: 0.85;
}

.col-right .submit-button:active {
    opacity: 0.7;
}

.align-right {
    text-align: right;
}

label em {
    color: red;
    font-size: 90%;
    font-weight: bold;
    margin-left: -2px;
}


.field-block {
    width: 85%;
    padding: 6px;
}

/* error messages */
.error, .server-error {
    width: 300px;
    color: red;
    padding: 5px 0 0 5px;
    display: block;
}

.error {
    display: none;
}

.success {
    padding: 0;
    height: 500px;
    line-height: 500px;
    text-align: center;
}

.success p {
    font-size: 14px;
}

/* Password meter */
#password-level {
    padding: 0;
	margin: 5px;
	height: 5px;
	width: 85px;
    border: solid 1px #ccc;
}

#password-level #password-bar {
    padding: 0;
	height: 100%;
	background: #00CCFF;
	width: 0%;
	transition: width 500ms ease-in;
}
